@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

/* nav */
.navbar a {
  color: white;
  background-color: black;
}

a:hover{
    color:rgb(57, 168, 57) !important;
}

.bg {
  background-image: url(/images/home.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.glow {
    font-size: 60px;
    color: #19650c;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #000, 0 0 30px #19650c, 0 0 40px #19650c, 0 0 50px #19650c, 0 0 60px #19650c, 0 0 70px #19650c;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #51e815, 0 0 40px #51e815, 0 0 50px #51e815, 0 0 60px #51e815, 0 0 70px #51e815, 0 0 80px #51e815;
    }
  }
  
.skill{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

/* footer */
.footer {
  color: white;
  text-align: center;
  background-color: black;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 27vh;
  padding-bottom: 0;
  line-height: 40px;
}
